services:
  postgres:
    image: postgres:13
    environment: [POSTGRES_USER=airflow, POSTGRES_PASSWORD=airflow, POSTGRES_DB=airflow]
    ports: ["5433:5432"]

  airflow:
    image: apache/airflow:2.7.1-python3.9
    user: root
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - PYTHONPATH=/opt/airflow
      - JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
    command: >
      bash -c "apt-get update && apt-get install -y --no-install-recommends openjdk-17-jre-headless wget &&
      mkdir -p /opt/airflow/drivers &&
      wget https://jdbc.postgresql.org/download/postgresql-42.7.1.jar -P /opt/airflow/drivers/ &&
      gosu airflow pip install pyspark==3.5.0 && 
      gosu airflow airflow standalone"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./data:/opt/airflow/data
      - ./drivers:/opt/airflow/drivers
    ports: ["8081:8080"]
    depends_on: [postgres]